#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: hsl(0, 0%, 0%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;

}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  padding: 0px;
  color: white;
  background-color: hsl(0, 3%, 35%);
  outline: none;
  cursor: pointer;
}

#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  max-width: 500px;
}

input {
  background-color: hsl(0, 0%, 18%);
  border: none;
  width: 98.7%;
  height: 80px;
  color: white;
}

#calculator {
  border-radius: 20px;
}

input{
  border-radius: 20px 20px 0 0;
}

.operator{
  background-color: hsl(29, 92%, 49%);
}

button:active{
  background-color: hsl(0, 3%, 95%);
}

button:hover{
  background-color: hsl(0, 3%, 65%);
}

.operator:hover{
 background-color: hsl(29, 92%, 69%); 
}

.operator:active{
  background-color: hsl(29, 92%, 89%);
}